/*Fonts*/
$default__font: 'Inter', sans-serif;
$font-text: "Mulish";
$font-title: "Playfair Display";

/*Colors*/
$color-btn: #FB8F1D;
$color-title:  #202336;
$color-after: #202336;
$color-text: #7D7987;